<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library</title>
    <script src="./script.js" defer></script>
    <link rel="stylesheet" href="/styles.css">
</head>
<header >
    <h1><a href="/homepage">Library project</a></h1>
    <div>
    <a class="login" href="/login">Login  </a>
    <a class="register" href="/signup">Register</a></div>
</header>