<%- include('./partials/loginheader.ejs')  %>
<body>
    <h2>welcome to library !</h2>
    <section><p>store and memorize your favorite books</p></section>
    <section><p>project is built using <b> ejs , node , express , mongodb </b></p></section>
</body>
</html>