<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/loginheader.ejs')  %>
 <h1>login</h1>
 <body>
   <form action="/">
     <label for="email">Email</label>
     <input required id="email" name="email" type="email" />
     <label for="password"> Password</label>
     <input required id="password" name="password" type="password" />
     <div class="login error"> </div>
     <button type="submit">Login</button>
   </form>
   <script src="/scripts/login-script.js"></script>
</body>
<%- include('./partials/footer.ejs') %>
</html>