<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs')  %>
<body>
  <form action="/">
  <label class="thing" for="email">email <input required id="email" type="email"></label><br>
  <label class="thing" for="password">password <input required id="password" type="password"></label>
  <button type="submit">login</button>
  </form>  
</body>
</html>