<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/loginheader.ejs')  %>
 <h1>login</h1>
 <body>
   <form action="/">
     <label for="email">Email</label>
     <input required id="email" name="email" type="email" />
     <label for="password"> Password</label>
     <input required id="password" name="password" type="password" />
     <div class="login error"> </div>
     <button type="submit">Login</button>
   </form>
   <script>
     const form = document.querySelector("form");
     const loginError = document.querySelector(".login");


     form.addEventListener("submit",async (e) => {
       e.preventDefault();

       const email = form.email.value;
       const password = form.password.value;

       const signupData = { email , password };
       const userInfo = JSON.stringify(signupData);
       
       try{
       const createUserReq = await fetch("/login", { method: "POST", headers: {"Content-Type": "application/json"}, body: userInfo});
       const jsonRes = await createUserReq.json();
       console.log(jsonRes)
       if (jsonRes.error){ 
        loginError.textContent = jsonRes.error
        }
       if(jsonRes.data){
         location.assign('/')
       }
     }
       catch(err){
         console.log(err)
       }
        
     });
   </script>
</body>
<%- include('./partials/footer.ejs') %>
</html>