<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/loginheader.ejs') %>
  <h1>signup</h1>
  <body>
    <form action="/">
      <label for="username">Username</label>
      <input required id="username" name="username" />
      <div class="username error"> </div>
      <label for="email">Email</label>
      <input required id="email" name="email" type="email" />
      <div class="email error"> </div>
      <label for="password"> Password</label>
      <input required id="password" name="password" type="password" />
      <div class="password error"> </div>
      <button type="submit">Register</button>
    </form>
   
  <script src="/scripts/signup-script.js"></script>
  </body>
  <%- include('./partials/footer.ejs') %>
</html>
